<%- include('../common/header')  %>
<%- include('../common/menu')  %>

<main class="principal pb-5">

  <div class="p-5 mb-4">
    <div class="container text-center">
      <h1>Elas fizeram história na tecnologia</h1>
      <p class="lead">
        Diferentemente do que costumamos pensar, a evolução da área está repleta de exemplos de mulheres que tiveram contribuições fundamentais. Confira!!! 
      </p>
    </div>
  </div>

  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <% articles.forEach(article =>{ %>
          <div class="col">
            <div class="card shadow">
                <img src="<%= article.photo %>" class="card-img-top photo-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= article.diva %></h5>
                    <p class="card-text"><%= article.bio.substring(0,130) %> ...</p>
                    <p class="card-text">
                        <small class="text-muted">
                          <%= article.data_criacao.toLocaleString('pt-BR').split(' ').join(' às ') %> 
                        </small>
                    </p>

                    <a href="/article?id=<%= article.id_article %>" class="btn botao">Continue lendo</a>
                </div>
            </div>
          </div>
          <% })  %>
        
      </div>
  </div>

</main>

<%- include('../common/footer')  %>